<%= docHeader %>
<head>
    <title><%= encodeXML(bookTitle || "") %></title>
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body class="cover">
    <div class="cover">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            version="1.1"
            width="100%"
            height="100%"
            viewBox="0 0 <%= coverDimensions.width %> <%= coverDimensions.height %>"
            preserveAspectRatio="none"
        >
            <image
                width="<%= coverDimensions.width %>"
                height="<%= coverDimensions.height %>"
                xlink:href="cover.<%= coverExtension %>"
            />
        </svg>
    </div>
</body>
</html>